body {
    color: #fff;
    background-color: #000;
    background-image: url(/images/background.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-attachment: fixed;
    background-size: cover;
}

.img-border {
    border: 5px solid #fff;
}

a.whitelink:link, a.whitelink:visited, a.whitelink:active {
    color: #fff;
    font: bold;
    text-decoration: underline;
}

a.whitelink:hover {
    text-decoration: none;
}

.panel-black {
    color: #000;
}